@font-face {
  font-family: "GlacialIndifference";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/glacialindifference-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope3";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/manrope-thin-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope3";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/manrope-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/manrope-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope3";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/fonts/manrope-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope3";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/manrope-extrabold-webfont.woff2") format("woff2");
}
