@font-face {
  font-family: "GlacialIndifference";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/glacialindifference-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-extrabold-webfont.woff2) format("woff2");
}

:root {
  --color-deep-purple: #4A148C;
  --color-light-purple: #7B1FA2;
  --color-gray: #333;
  --color-deep-sky: #0288D1;
  --link-visited-color: var(--color-light-purple);
  --scale: 1.125;
  --text-normal: 16pt;
  --text-small: calc(var(--text-normal) / var(--scale));
  --text-tiny: calc(var(--text-small) / var(--scale));
  --text-big: calc(var(--text-normal) * var(--scale));
  --text-huge: calc(var(--text-big) * var(--scale));
  --text-giant: calc(var(--text-huge) * var(--scale));
  --paragraph-font-size: var(--text-normal);
  --paragraph-line-height: 1.5;
  --purple-gradient: linear-gradient(to right, var(--color-deep-purple), var(--color-light-purple));
  --logo-font-size: 6rem;
  --logo-small-font-size: calc(var(--logo-font-size) / 2);
  --nav-height: 4rem;
  --navigation-item-height: 4rem;
  --nav-width: 100vh;
}

html {
  color: var(--color-gray);
}

body {
  min-width: 240px;
}

.action-link {
  font-weight: 900;
}

ul {
  margin: 1rem 0 0 1rem;
  font-size: var(--text-small);
}

li {
  margin-bottom: .5rem;
}

a {
  transition: 200ms color;
  text-decoration: none;
  font-style: normal;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--color-deep-sky);
}

.link.important {
  font-size: var(--text-giant);
  font-weight: 900;
}

.action-link,
.link.not-so.important {
  font-size: var(--text-normal);
}

@media (orientation:portrait) {
  :root {
    --text-normal: 12pt;
  }
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

html {
  font: var(--text-normal) Manrope_, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h2,
h3,
h4 {
  padding: .5rem 0;
  line-height: 1.2;
}

h3,
h4 {
  clear: both;
}

h2+h3,
h3+h4 {
  padding-top: 0;
}

h2 {
  font-size: var(--text-giant);
}

h3 {
  font-size: var(--text-huge);
}

h4 {
  font-size: var(--text-big);
}

p {
  font-size: var(--paragraph-font-size);
}

p:not(:first-of-type) {
  margin-top: var(--text-normal);
}

p:last-of-type {
  margin-bottom: var(--text-normal);
}

.logo {
  display: inline-block;
  color: var(--color-deep-purple);
  font: var(--logo-font-size) "GlacialIndifference", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo.small {
  font-size: var(--logo-small-font-size);
}

@supports (-webkit-background-clip:text) {
  .logo {
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navigation {
  position: fixed;
  left: 0;
  width: 0;
}

.navigation .slider {
  display: flex;
  width: var(--nav-width);
  height: var(--nav-height);
  text-transform: lowercase;
  line-height: var(--navigation-item-height);
}

.nav-link.active {
  color: var(--color-gray);
  font-weight: 700;
}

.nav-header {
  display: none;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {

  body,
  html {
    min-height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  body * {
    display: none !important;
  }

  body::before {
    display: block;
    content: "Джонні, здається ми потрапили в минуле! Термінова евакуація в 2019 рік!";
  }
}