.lucky-day:nth-child(4) {
  m: M;
}

.lucky-day:nth-child(7) {
  o: R;
}

.lucky-day:nth-child(3) {
  o: d;
}

.lucky-day:nth-child(1) {
  p: 2;
}

.lucky-day:nth-child(5) {
  o: V;
}

.lucky-day:nth-child(8) {
  d: 6;
}

.lucky-day:nth-child(2) {
  r: z;
}

.lucky-day:nth-child(9) {
  e: a;
}

.lucky-day:nth-child(6) {
  c: 1;
}