.navigation {
	flex-direction: row-reverse;
	transform: translateX(-100%) rotate(-90deg);
	transform-origin: 100% 0;
	justify-content: space-around;
}

.nav-link.flare {
	font-weight: 900;
	color: #F57C00;
}

.nav-link.flare.active {
	color: inherit;
}