:root {
  --nav-width: auto;
  --nav-height: 3rem;
  --navigation-item-height: var(--nav-height);
}

.backdrop {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 200ms;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, .75);
}

.navigation {
  z-index: 99;
  top: 0;
  height: var(--nav-height);
  font-size: var(--text-small);
}

.navigation .slider {
  position: absolute;
  bottom: 0;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 0 1rem;
  transition: 200ms transform;
  transform: none;
  border-bottom: 1px dashed var(--color-gray);
  background-color: #fff;
}

.nav-header {
  display: flex;
  margin-bottom: 0;
  transition: 200ms opacity;
  color: var(--color-deep-purple);
  border: 0;
  outline: 0;
  background-color: transparent;
  font: 700 var(--text-normal) Manrope_;
  line-height: var(--nav-height);
  align-items: center;
}

.navigation:focus-within .slider {
  transform: translateY(calc(100% - var(--nav-height)));
}

.navigation:focus-within .nav-header {
  height: 0;
  opacity: 0;
}

.navigation:focus-within+.backdrop {
  pointer-events: all;
  opacity: 1;
}

.burger {
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-right: .4rem;
  background-image: linear-gradient(var(--color-deep-purple) 0, var(--color-deep-purple) 1px, transparent 1px, transparent 4px, var(--color-deep-purple) 4px, var(--color-deep-purple) 5px, transparent 5px, transparent 8px, var(--color-deep-purple) 8px, var(--color-deep-purple) 9px);
}