:root {
	--nav-width: auto;
	--navigation-size: 2rem;
	--navigation-item-height: 3rem;
}

.backdrop {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 200ms;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.navigation {
	z-index: 99;
	bottom: 100%;
	flex-direction: column;
	width: 100vw;
	height: auto;
	padding: 0 1rem;
	transition: transform 200ms;
	transform: translateY(2rem);
	border-bottom: 1px dashed #333;
	background-color: white;
	font-size: 0.7em;
}

.navigation-header {
	display: flex;
	transition-duration: 200ms;
	outline: none;
	font-size: 0.7rem;
	font-weight: bold;
	line-height: 2rem;
	align-items: center;
}

.navigation:focus-within {
	transform: translateY(100%);
}

.navigation:focus-within .navigation-header {
	height: 0;
	opacity: 0;
}

.navigation:focus-within+.backdrop {
	pointer-events: all;
	opacity: 1;
}

.burger {
	display: inline-block;
	width: 12px;
	height: 9px;
	margin-right: 0.4rem;
	background-image: linear-gradient(
		black 0px,
		black 1px,
		transparent 1px,
		transparent 4px,
		black 4px,
		black 5px,
		transparent 5px,
		transparent 8px,
		black 8px,
		black 9px
	);
}
