:root {
  --navigation-width: 4rem;
  --navigation-item-height: 4rem;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 100vh;
  height: var(--navigation-width);
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: 100% 0;
  text-transform: lowercase;
  line-height: var(--navigation-item-height);
  justify-content: space-around;
}

.navigation-header {
  display: none;
  text-transform: lowercase;
  outline: none;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 2rem;
}


.navigation-link.active {
  font-weight: bold;
}

.backdrop {
  position: fixed;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  transition-duration: 200ms;
  transition-property: opacity;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen {
  @media (max-width: 480px) {
    :root {
      --navigation-item-height: 2.5rem;
    }
  }


  @media (orientation: portrait) {
    :root {
      --navigation-width: 1rem;
    }

    body {
      padding-top: 2rem;
    }

    .navigation {
      z-index: 99;
      bottom: 100%;
      flex-direction: column;
      width: 100vw;
      height: auto;
      padding: 0 1rem;
      transition-duration: 200ms;
      transform: translateY(2rem);
      border-top: 1px solid #333;
      background-color: white;
    }

    .navigation-header {
      display: block;
      transition-duration: 200ms;
    }

    .navigation:focus-within {
      transform: translateY(100%);
    }
    
    .navigation:focus-within .navigation-header {
      height: 0;
      opacity: 0;
    }

    .navigation:focus-within + .backdrop {
      pointer-events: all;
      opacity: 1;
    }
  }
}