:root {
	--body-grid:
		"nav"
		"logo"
		"header"
		"content"
		"footer";
	--body-columns: 1fr;
	--logo-top-padding: 0;
	--navigation-size: var(--sticky-top);
	--body-margin: 0 1rem;
	--body-rows: var(--navigation-size) repeat(3, min-content);
}