:root {
	--body-grid:
		"nav"
		"logo"
		"header"
		"content"
		"footer";
	--body-columns: 1fr;
	--logo-top-padding: 0;
	--sticky-top: var(--nav-height);
	--body-margin: 0 1rem;
	--body-rows: var(--nav-height) repeat(3, min-content);
}