:root {
  --body-grid: "nav logo"
    "nav header"
    "nav content"
    "nav footer";
  --body-columns: var(--nav-height) 1fr;
  --logo-top-padding: 1rem;
  --sticky-top: 0;
  --body-margin: 0 1rem 0 0;
  --body-rows: repeat(4, min-content);
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  box-sizing: border-box;
  padding: var(--body-margin);
  grid-template-areas: var(--body-grid);
  grid-template-columns: var(--body-columns);
  grid-template-rows: var(--body-rows);
  column-gap: 2rem;
}

.logo {
  padding-top: var(--logo-top-padding);
  grid-area: logo;
}

.content {
  grid-area: content;
}

.sticky {
  position: sticky;
  top: var(--sticky-top);
}

.page-title {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
  background-color: #fff;
  grid-area: header;
  justify-content: space-between;
  align-items: flex-start;
}