:root {
  --section-margin: 0 20% 0 5rem;
}

.back {
  margin-top: 1rem;
}

img {
  width: 100%;
}

section {
  margin: var(--section-margin);
}

.addition li {
  position: relative;
  list-style: none;
}

.addition li::before {
  position: absolute;
  left: -1rem;
  display: inline-block;
  content: "+";
  color: #33691e;
  font-weight: 700;
}

.addition .in-package::before {
  content: "•";
  color: #000;
}

@media (orientation:portrait) {
  :root {
    --section-margin: 0 1rem;
  }
}