.content {
  padding-bottom: 1rem;
}

section {
  overflow: hidden;
}

section:not(:first-child) {
  padding-top: 1rem;
}

h3 {
  margin-top: 1rem;
}

.partner {
  --logo-size: 10rem;
  --font-size: calc(var(--logo-size) / 10);
  float: left;
  break-inside: avoid;
}

figcaption {
  text-align: center;
  font-size: var(--font-size);
  font-weight: bold;
}

.partner-logo {
  box-sizing: border-box;
  width: var(--logo-size);
  height: var(--logo-size);
  padding: 0.5rem;
}

.gold {
  --logo-size: 9rem;
}

.silver {
  --logo-size: 8rem;
}

.bronze {
  --logo-size: 7rem;
}

.info {
  --logo-size: 6rem;
}
