:root {
  --section-margin: 0 20% 0 5rem;
}

img {
  width: 100%;
}

section {
  margin: var(--section-margin);
}

.addition li {
  position: relative;
  list-style: none;
}

.addition li::before {
  position: absolute;
  left: -1rem;
  display: inline-block;
  content: "+";
  color: #33691E;
  font-weight: bold;
}

.addition .in-package::before {
  content: "•";
  color: black;
}

@media (orientation: portrait) {
  :root {
    --base-font-size: 14pt;
    --section-margin: 0 1rem;
  }
}