:root {
	--column-count: 1;
  --photo-width: 6rem;
  --photo-height: calc(var(--photo-width) * (4 / 3));
	--body-top-padding: 1rem;
	
	/* Global override */
	--paragraph-font-size: 0.75rem;
}

h4 small {
  font-size: 50%;
  font-weight: bold;
}

.columns {
  column-count: var(--column-count);
  column-gap: 32pt;
}

.speaker-photo {
  float: left;
  box-sizing: border-box;
  width: var(--photo-width);
  height: var(--photo-height);
  margin: 5pt 1rem 0 0;
}

.speaker-info {
  overflow: hidden;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid grey;
  break-inside: avoid;
}

.speaker-info p:empty + p {
  margin-top: 0;
}

.cliffhanger {
  margin: 2rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  :root {
    --column-count: 2;
  }
}

@media (min-width: 1366px) {
  :root {
    --column-count: 3;
  }
}

@media (max-width: 480px) {
  :root {
    --photo-width: 4rem;
  }
}