td, th {
	text-align: center;
	padding: 5pt;
}

table {
	margin: 0 auto;
	width: 60%;
	table-layout: fixed;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: aliceblue;
} 

@media screen and (orientation: portrait) {
	table {
		width: 90%;
	}
}