<h2>10 листопада</h2>
<table>
  <thead>
    <tr>
      <th>Концертна зала</th>
      <th>Кавова зала</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">9:00 - 10:00</td>
    </tr>
    <tr>
      <td colspan="2">Реєстрація</td>
    </tr>
    <tr>
      <td>10:00 - 10:10</td>
      <td></td>
    </tr>
    <tr>
      <td>Відкриття</td>
    </tr>
    <!-- Speaker 1 -->
    <tr>
      <td>10:10 - 11:10</td>
      <td>10:10 - 11:10</td>
    </tr>
    <tr>
      <td>
        <b>Олександр Павлищ</b><br>
        CSS tricks you gotta love
      </td>
      <td>
        <b>Олена Шпілевська</b><br>
        Основи UX для розробників
      </td>
    </tr>
    <!-- Speaker 2 -->
    <tr>
      <td>11:10 - 12:10</td>
      <td>11:10 - 12:10</td>
    </tr>
    <tr>
      <td>
        <b>Роман Савицький</b><br>
        Як козаки проект вигравали
      </td>
      <td>
        <b>Олексій Калюжний</b><br>
        Суперзаряджені анімації з GreenSock
      </td>
    </tr>
    <!-- Speaker 3 -->
    <tr>
      <td>12:10 - 13:10</td>
      <td>12:10 - 13:10</td>
    </tr>
    <tr>
      <td>
        <b>Андрій Кравченко</b><br>
        Cooperation between designer and front-end developer
      </td>
      <td>
        <b>Борис Могила</b><br>
        Легкий шлях до Web VR
      </td>
    </tr>
    <!-- Speaker 4 -->
    <tr>
      <td>13:10 - 14:10</td>
      <td>13:10 - 14:10</td>
    </tr>
    <tr>
      <td>
        <b>Олександр Перельотов</b><br>
        TBA
      </td>
      <td>
        <b>Віталій Рибка</b><br>
        Принципи об'єктно-орієнтованого дизайну в CSS
      </td>
    </tr>
    <!-- Diner -->
    <tr>
      <td colspan="2">14:10 - 15:10</td>
    </tr>
    <tr>
      <td colspan="2">Обід</td>
    </tr>
    <!-- Speaker 5 -->
    <tr>
      <td>15:10 - 16:10</td>
      <td>15:10 - 16:10</td>
    </tr>
    <tr>
      <td>
        <b>Віталій Станишевський</b><br>
        Accessibility: потрібно на вчора!
      </td>
      <td>
        <b>Рінат Магомедов</b><br>
        UX дизайну не існує
      </td>
    </tr>
    <!-- Speaker 6 -->
    <tr>
      <td>16:10 - 17:10</td>
      <td>16:10 - 17:10</td>
    </tr>
    <tr>
      <td>
        <b>Юрій Чайковський</b><br>
        TBA
      </td>
      <td>
        <b>Олександр Поплавський</b><br>
        Небувалий контроль з CSS Snap Scroll
      </td>
    </tr>
    <!-- Speaker 7 -->
    <tr>
      <td>17:10 - 18:10</td>
      <td>17:10 - 18:10</td>
    </tr>
    <tr>
      <td>
        <b>Тимофій Лавренюк</b><br>
        Як подружити розробників і контент-відділ
      </td>
      <td>
        <b>Юрій Артюх</b><br>
        TBA
      </td>
    </tr>
    <!-- Keynote -->
    <tr>
      <td colspan="2">18:10 - 19:10</td>
    </tr>
    <tr>
      <td colspan="2"><b>Hakon Wium Lie</b></td>
    </tr>
  </tbody>
</table>
<h2>11 листопада</h2>
<table>
  <thead>
    <tr>
      <th>Концертна зала</th>
      <th>Кавова зала</th>
    </tr>
  </thead>
  <tbody>
    <!-- Speaker 1 -->
    <tr>
      <td>11:00 - 12:00</td>
      <td>11:00 - 12:00</td>
    </tr>
    <tr>
      <td>
        <b>Нікіта Галкін</b><br>
        Career as a process
      </td>
      <td>
        <b>Віталій Ратушний</b><br>
        Pies and Bars: tale about charts
      </td>
    </tr>
    <!-- Speaker 2 -->
    <tr>
      <td>12:00 - 13:00</td>
      <td>12:00 - 13:00</td>
    </tr>
    <tr>
      <td>
        <b>Нік Воронін</b><br>
        TBA
      </td>
      <td>
        <b>Євген Ісаков</b><br>
        Styling browser controls
      </td>
    </tr>
    <!-- Speaker 3 -->
    <tr>
      <td>13:00 - 14:00</td>
      <td>13:00 - 14:00</td>
    </tr>
    <tr>
      <td>
        <b>Олександр Скачков</b><br>
        WebAssembly і CSS
      </td>
      <td>
        <b>Дмитро Барабаш</b><br>
        Can CSS-in-JS be amazing?
      </td>
    </tr>
    <!-- Speaker 4 -->
    <tr>
      <td>14:00 - 15:00</td>
      <td>14:00 - 15:00</td>
    </tr>
    <tr>
      <td>
        <b>Вальдемар Костенко</b><br>
        SVG - складності перекладу
      </td>
      <td>
        Панельна дискусія
      </td>
    </tr>
    <!-- Speaker 5 -->
    <tr>
      <td colspan=2>15:10 - 16:10</td>
    </tr>
    <tr>
      <td colspan=2>
        <b>Ілля Клімов</b><br>
        Як не посваритися з дизайнером через фреймворк
      </td>
    </tr>
  </tbody>
</table>