:host() {
	position: relative;
	z-index: 100;
	display: flex;
	height: 30pt;
	min-height: 30pt;
	padding: 10pt 10pt;
	box-shadow: 0 0 20pt rgba(0, 0, 0, 0.5);
	background-image: var(--gradient);
}
.nav-container {
	flex: 1;
	display: flex;
	align-items: center;
}
.logo {
	display: flex;
	align-self: center;
	align-items: center;
	margin-right: 10pt;
}

.logo-image {
	height: 20pt;
}

.navigation {
	justify-content: flex-end;
}

.counter {
	justify-content: center;
}

.get-ticket {
	--a-height: 30pt;
	font-weight: 900;
	font-family: Roboto;
	color: var(--clr-text);
  text-transform: uppercase;
  font-size: 16pt;
  line-height: var(--a-height);
  height: var(--a-height);
  display: inline-block;
  padding: 0 8pt;
  text-shadow: none;
  text-decoration: none;
	border-radius: 3pt;
	background-color: #D90368;
}
.get-ticket.active {
	background-color: white;	
	color: #D90368;
}

.col {
	display: flex;
	flex-direction: column;
}

@media screen and (orientation: portrait) {
	.nav-container {
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
}
