:host() {
	--size: 21pt;
	border-top: 1px solid #999;
}

.wrapper {
	padding: 10pt 0;
	display: flex;
	justify-content: center;
}

.toggle {
	border: none;
	background-color: #D90368;
	color: white;
	font-weight: 600;
	height: var(--size);
	border-radius: calc(var(--size) /2);
	margin: 5pt;
	display: none;
	padding: 0 8pt;
	outline: none;
	margin: 5pt auto 0 auto;
	text-transform: uppercase;
}


a {
	display: flex;
	align-items: center;
	padding-left: calc(var(--size) + 4pt);
	height: var(--size);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	margin: 3pt;
	white-space: nowrap;
}

.fb {
	background-image: url(/assets/icons/fb.png);
}

.mail {
	background-image: url(/assets/icons/mail.png);
}

.call {
	background-image: url(/assets/icons/call.png);
}

@media screen and (max-width: 620px) {
	:host() {
		overflow: hidden;
		height: 30pt;
		transition-duration: 200ms;
	}
	:host(.open) {
		height: 210px;
	}
	.toggle {
		display: block;
	}
	.wrapper {
		flex-direction: column;
		padding: 10pt;
	}
	h3 {
		display: block;
	}
} 
