{{> head page=pages.contacts}}

<body class="hero-layout">
	{{> nav path='contacts.html'}}
	<section class="hero">
		{{> hero}}
		<img width="200" src="./assets/images/globalcss.svg" alt="GlobalCSS">
		<p>Нам можна <b>писати:</b></p><a href="mailto:lvivcss@outlook.com">lvivcss@outlook.com</a>
		<p>Нам можна <b>телефонувати:</b></p>
		<ul>
			<li>Сергій: <a href="tel:+380635657098">+380 63 565 70 98</a></li>
			<li>Марія: <a href="tel:+380935924040">+380 93 592 40 40</a></li>
			<li>Наталя: <a href="tel:+380508568637">+380 50 856 86 37</a></li>
		</ul>
	</section>
</body>