{{> head page=pages.tickets}}

<body class="hero-layout">
	{{> nav path='tickets.html'}}
	<section class="hero">
		{{> hero}}
	</section>
	<div class="hero-layout-content">
		<script src="https://lvivcss2019.ticketforevent.com/uk/widget/?h=0&s=0&bt=1&template=flatwhite"></script>
		<p><b>2 потоки</b> з <a href="./speakers.html"><b>15 спікерів</b></a> з цікавими темами, заснованими на власному
			досвіді.</p>
		<p>Цілий день насиченого спілкування та приємних несподіванок від нас та наших партнерів.</p>
		<p><b>І ти ще досі без квитка?</b></p>
	</div>
</body>