<!DOCTYPE html>
<html lang="uk">

<head>
	{{> head}}
	<meta name="description" content="Це сторінка, де можна придбати квитки на LvivCSS'19, найяскравішу конференцію України. І нам буде дуже прикро, якщо вона відбудеться без тебе.">
	<link rel="stylesheet" href="css/hero.layout.css">
	<link rel="stylesheet" href="css/hero.layout.portrait.css" media="(orientation: portrait), (max-height: 480px)">
	<style>.teaser{--paragraph-font-size: 0.75rem}</style>
	<title>Квитки на LvivCSS'2019. Якщо в тебе буде такий, ти зможеш відвідати найкрутішу конференцію про frontend. Так просто.</title>
</head>

<body>
	{{> nav path='tickets.html'}}
	<section class="hero">
		{{> hero}}
	</section>
	<section class="content">
		<script src="https://lvivcss2019.ticketforevent.com/uk/widget/?h=0&s=0&bt=1&template=flatwhite"></script>
		<p class="teaser"><b>2 потоки</b> з <a href="./speakers.html"><b>15 спікерів</b></a> з цікавими темами, заснованими на власному досвіді.</p>
		<p class="teaser">Цілий день насиченого спілкування та приємних несподіванок від нас та наших партнерів.</p>
		<p class="teaser">А ти ще без квитка.</p>
	</section>
</body>