<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
	<meta name="description" content="LvivCSS'19, найяскравіша конференція України. Конференція не тільки про CSS">
	<link rel="stylesheet" href="css/hero.layout.css">
	<link rel="stylesheet" href="css/hero.layout.portrait.css" media="(orientation: portrait), (max-height: 480px)">
	<style>:root{--paragraph-font-size: 0.75rem}</style>
	<title>LvivCSS'2019 — конференція не тільки про CSS</title>
</head>

<body>
	{{> nav path='tickets.html'}}
	<section class="hero">
		{{> hero}}
	</section>
	<section class="content">
		<script type="text/javascript" src="https://lvivcss2019.ticketforevent.com/uk/widget/?h=0&s=0&bt=1&template=flatwhite"></script>
		<p><b>2 потоки</b> з <a href="./speakers.html"><b>15 спікерів</b></a> з цікавими темами, заснованими на власному досвіді.</p>
		<p>Цілий день насиченого спілкування та приємних несподіванок від нас та наших партнерів.</p>
		<p>А ти ще без квитка.</p>
	</section>
</body>