:host() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.75)
}

iframe {
	--margin: 40pt;
	--width: calc(100% - var(--margin) * 2);
	position: absolute;
	top: var(--margin);
	left: var(--margin);
	width: var(--width);
	height: var(--width);
	z-index: 1;
}

@media screen and (max-width: 500pt) {
	iframe {
		--margin: 20pt;
	}
}