<ng-container *ngIf="element$|async as element">
  <h2>ELEMENT SUPPORTERS</h2>
  <p class="content">
    <span *ngFor="let item of element" class="supporter">{{item.title}}</span>
  </p>
</ng-container>
<ng-container *ngIf="classname$|async as classname">
  <h2>CLASSNAME SUPPORTERS</h2>
  <p class="content">
    <span *ngFor="let item of classname" class="supporter">
      <a href="#">{{item.title}}</a>
    </span>
  </p>
</ng-container>
<ng-container *ngIf="id$|async as id">
  <h2>ID SUPPORTERS</h2>
  <div class="info-cards">
    <app-info-card
      *ngFor="let item of id"
      [data]="item"
      ></app-info-card>
  </div>
</ng-container>
<ng-container *ngIf="inline$|async as inline">
  <h2>INLINE SUPPORTERS</h2>
  <div class="info-cards">
    <app-info-card
      *ngFor="let item of inline"
      [data]="item"
      ></app-info-card>
  </div>
</ng-container>