:host() {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.75);
	align-items: center;
	justify-content: center;
}

.wrapper {
	position: relative;
}

.card {
	overflow-y: auto;
	background-color: #eee;
	max-width: 80vw;
	max-height: 80vh;
	display: grid;
	grid-template-areas:
		"img header"
		"img text";
	grid-column-gap: 10pt;
}

img {
	height: 200pt;
}

@media screen and (orientation: portrait) {
	.card {
		grid-template-areas:
			"img"
			"header"
			"text";
	}

	img {
		justify-self: center;
	}

	.content, h1 {
		padding: 0 20pt;
	}

	.content {
		padding-bottom: 20pt;
	}
}

img {
	grid-area: img;
	width: 200pt;
	border-radius: 50%;
	margin: 10pt;
}

h1 {
	grid-area: header;
	padding-right: 30pt;
}

.content {
	grid-area: text;
	padding-right: 10pt;
	min-height: 0;
	overflow: visible;
}

.scroll {
	height: 100%;
	overflow: auto;
}

h3 {
	color: #D90368;
}

.nav {
	position: absolute;
	font-family: inherit;
	width: 40pt;
	height: 20pt;
	top: 50%;
	margin-top: -10pt;
	background-color: #D90368;
	color: white;
	border: none;
	border-radius: 5pt;
	outline: none;
}

.nav.next {
	right: -20pt;
}
.nav.prev {
	left: -20pt;
}
