:host() {
	display: block;
  margin: 0 15%;
}

h3 {
	font-weight: 400;
	font-size: 18pt;
	color: #D90368;
}

h4 {
	font-size: 15pt;
	font-weight: 600;
}

.description {
	padding-bottom: 10pt;
	border-bottom: 1px solid #000;
	font-size: 14pt;
}

@media screen and (orientation: portrait) {
	:host() {
		margin: 0 5%;
	}
}