- var filename = "speakers"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		title LvivCSS'2019
		link(rel="stylesheet" href="css/page.layout.css")
		link(rel="stylesheet", href="css/page.layout.portrait.css" media="(orientation:portrait)")
		<style>iframe{margin-top:1rem}</style>
	body.page
		include shared/navigation.partial.pug
		h1.logo.small
			a(href="./") LvivCSS'19
		h2.page-title.sticky Стати спікером
		main.content
			iframe(
				src="https://docs.google.com/forms/d/e/1FAIpQLScQdBWmp7seXmeqPNBKo4cyzqrcx9i2LPwJp-1684-VcKYUsA/viewform?embedded=true"
				width="100%"
				noscroll
				height="3029" frameborder="0" marginheight="0") Loading…
