- var filename = "contacts"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		link(rel="stylesheet", href="css/layout.css")
		link(rel="stylesheet", href="css/hero.layout.css")
		link(rel="stylesheet" href="css/hero.layout.portrait.css" media="(orientation: portrait)")
		title LvivCSS'2019
	body
		include shared/navigation.partial.pug
		section.hero
			h1
				a(href="./")
					span.logo LvivCSS'19
			p
				time.conference-date(datetime="2019-11-02") 2 листопада 2019
				address.conference-address
					a(href="https://goo.gl/maps/m17XLnBE8UHEeM1n6" target="_blank")
						b MolodoZeleno
						| , вул. Джерельна 20, м. Львів
		section.content
			p
				| Нам можна 
				b писати:
			a(href="mailto:lvivcss@outlook.com") lvivcss@outlook.com
			
			p
				| Нам можна 
				b телефонувати:
			ul
				li
					| Сергій: 
					a(href="tel:+380635657098") +380 63 565 70 98
				li
					| Марія: 
					a(href="tel:+380935924040") +380 93 592 40 40
				li
					| Наталя: 
					a(href="tel:+380508568637") +380 50 856 86 37