- var filename = "partners"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		title Партнери LvivCSS'2019
		link(rel="stylesheet" href="css/page.layout.css")
		link(rel="stylesheet" href="css/partners.css")
	body.page
		include shared/navigation.partial.pug
		h1.logo.small
			a(href="./") LvivCSS'19
		h2.page-title.sticky
			| Наші партнери
			a.action-link(href="./partnership.html") стати нашим партнером
		main.content
			each category in partners
				section
					h3= category.title
					each item in category.items
						figure(class=category.name + " partner")
							.partner-logo(style="background-image: url(assets/images/partners/" + item.logo + ".png)")
							figcaption= item.name