<ng-container *ngIf="exclusive | async as exclusive">
  <h2>Exclusive speaker</h2>
  <div class="info-cards">
    <app-info-card
      *ngFor="let speaker of exclusive; let i = index; trackBy: trackBy"
      [data]="speaker"
      (click)="show(speaker)"
      ></app-info-card>
  </div>
</ng-container>
<ng-container *ngIf="all | async as all">
  <h2>Speakers</h2>
  <div class="info-cards">
    <app-info-card
      *ngFor="let speaker of all; let i = index; trackBy: trackBy"
      [data]="speaker"
      (click)="show(speaker)"
      ></app-info-card>
  </div>
</ng-container>

<app-popup
  *ngIf="speaker"
  [value]="speaker"
  (close)="onPopupClose()"
  ></app-popup>