.columns {
  --columnCount: 3;
  column-count: var(--columnCount);
  column-gap: 2rem;
}

.column-card {
  overflow: hidden;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 1px dashed gray;
  break-inside: avoid;
}

.column-card-img {
  --cardImgWidth: 6rem;
  --cardImgHeight: calc(var(--cardImgWidth) / 3 * 4);
  float: left;
  box-sizing: border-box;
  width: var(--cardImgWidth);
  height: var(--cardImgHeight);
  margin: 5pt 1rem 0 0;
}

.column-card p:empty+p {
  margin-top: 0;
}

.column-card p:last-child {
  margin-bottom: 0;
}

.cliffhanger {
  margin-top: 1rem;
  text-align: center;
  column-span: all;
}

.description,
.talkname {
  display: none;
}

input:checked+.column-card {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: var(--navWidth);
  margin: 0;
  padding: 2rem;
  background-color: white;
}

body.noscroll {
  overflow: hidden;
}

input {
  display: none;
}

.column-card .action {
  text-transform: lowercase;
  border-bottom: 1px dashed currentColor;
  font-size: var(--sizeS);
  font-weight: 400;
  line-height: 1rem;
}

input:checked+.column-card {
  overflow: auto;
}

input:checked+.column-card .card-collapse-action {
  display: block;
  margin-bottom: 0.5rem;
}

input:checked+.column-card .card-expand-action,
.card-collapse-action {
  display: none;
}

input:checked+.column-card .talkname,
input:checked+.column-card .description {
  display: block;
}

input:checked+.column-card .column-card-img {
  --cardImgWidth: 16rem;
}

input:checked+.column-card .text {
  columns: 2;
}

@media (orientation:portrait) {
  input:checked+.column-card {
    top: var(--navHeight);
    left: 0;
    padding: 1rem;
  }

  input:checked+.column-card .text {
    columns: 0;
  }

  input:checked+.column-card .card-collapse-action {
    position: fixed;
    z-index: 15;
    top: none;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 2rem;
    margin: 0;
    border-top: 1px solid #333;
    background-color: white;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width:1366px) {
  .columns {
    --columnCount: 2;
  }
}


@media (max-width:768px) {
  .columns {
    --columnCount: 1;
  }
}

@media (max-width:1024px) {
  input:checked+.column-card .text {
    columns: initial;
  }

  input:checked+.column-card .column-card-img {
    --cardImgWidth: 6rem;
  }

  input:checked+.column-card {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}