a {
  text-decoration: none;
  color: var(--clrBlueDeep);
}

a:hover {
  color: var(--clrBlueLight);
}

a.call-to-action {
	display: inline-block;
	font-size: var(--sizeM);
	line-height: 1.2;
}

address a {
	color: var(--clrText);
}
