@font-face {
  font-family: "GlacialIndifference";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/glacialindifference-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: "Manrope_";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/manrope-extrabold-webfont.woff2) format("woff2");
}

:root {
  --scale: 1.2;
  --sizeM: 16pt;
  --sizeXS: calc(var(--sizeS) / var(--scale));
  --sizeS: calc(var(--sizeM) / var(--scale));
  --sizeL: calc(var(--sizeM) * var(--scale));
  --sizeXL: calc(var(--sizeL) * var(--scale));
  --sizeXXL: calc(var(--sizeXL) * var(--scale));
  --size3XL: calc(var(--sizeXXL) * var(--scale));
  --size4XL: calc(var(--size3XL) * var(--scale));
  --size5XL: calc(var(--size4XL) * var(--scale));
}

html {
  hyphens: auto;
  font-family: Manrope_, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: var(--sizeM);
  line-height: 1.5;
}

h1 {
  font-size: var(--size3XL);
}

h2 {
  font-size: var(--sizeXXL);
}

h3 {
  font-size: var(--sizeXL);
}

h4 {
  font-size: var(--sizeL);
}

h5,
h6 {
  font-size: var(--sizeM);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

p,
address {
  margin: 0 0 1em 0;
}

ul,
ol {
  padding-left: 1rem;
}

small {
  font-size: var(--sizeXS);
}

address {
  font-style: normal;
}

/* Helpers */
.size-xs {
  font-size: var(--sizeXS);
}

.size-s {
  font-size: var(--sizeS);
}

.size-l {
  font-size: var(--sizeL);
}

.size-m {
  font-size: var(--sizeM);
}

.size-xl {
  font-size: var(--sizeXL);
}

.size-xxl {
  font-size: var(--sizeXXL);
}

.size-3xl {
  font-size: var(--size3XL);
}

@media (orientation:landscape) and (max-width:568px),
(max-width: 1680px) {
  :root {
    --sizeM: 14pt;
  }
}

@media (max-width:320px) {
  :root {
    --sizeM: 12pt;
  }
}

@media (max-width:240px) {
  :root {
    --sizeM: 10pt;
  }
}