nav.navigation
	p(tabindex=1 class="navigation-header") Навігація

	each item in navigation
		a(
			href=item.href ? "/" + item.href + ".html" : "/",
			class="navigation-link" + (filename === item.href ? " active" : "")
		)= item.title
.backdrop