:host {
  --size: 14pt;
}

button {
  background: none;
  font-family: "Roboto Condensed";
  font-size: var(--size);
  padding: calc(var(--size) / 3.2) calc(var(--size) / 2);

  border: 1pt solid white;
  border-radius: 5pt;

  text-transform: uppercase;
  color: white;

  outline: none;
}

.solid {
  background-color: white;
  color: var(--clr-main);
}

.medium {
  --size: 21pt;
}

.big {
  --size: 32pt;
}