<h1 class="logo">LvivCSS'19</h1>
<p class="logo-motto">конференція <b>не тільки про CSS</b></p>
<p>
	<b><time class="conference-date" datetime="2019-11-02">2 листопада 2019</time></b>
</p>
<p>
	<address>
		<a href="https://goo.gl/maps/m17XLnBE8UHEeM1n6" target="_blank" rel="noreferrer">
			<b>MolodoZeleno</b>,<br>
			вул. Джерельна 20,<br>
			м. Львів
		</a>
	</address>
</p>