<nav class="main-nav">
	{{#each navigation}}
	<a class="main-nav-link{{#eq ../path this.href}} active{{/eq}}{{#if this.isFlare}} flare{{/if}}" href="{{this.href}}">{{this.title}}</a>
	{{/each}}
	<p class="main-nav-toggle" tabindex="0">навігація</p>
</nav>
<!-- iOS fix for forced blur -->
<div class="main-nav-backdrop" onclick="() => {}"></div>