:host {
  --img-size: 180pt;
  --title-font-size: 24pt;
  --btn-size: calc(var(--img-size) / 5);
  --btn-shift: calc(var(--btn-size) / 2);
  --btn-rotation: -15deg;
  --btn-y-translate: calc(var(--img-size) * 0.5);
  --btn-img-src: '';
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10pt;
  perspective: 400pt;
}

@media screen and (orientation: portrait) {
  :host {
    --img-size: 100pt;
    --title-font-size: 16pt;
    width: 50%;
    margin: 0;
  }
}

.image {
  position: relative;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: var(--img-size);
  width: var(--img-size);
}

.data-photo {
  box-shadow: 0 3pt 5pt rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: var(--img-size);
  width: var(--img-size);
}

.social-button {
  --origin-shift: 50% calc(var(--btn-shift) - var(--btn-y-translate));
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: var(--btn-size);
  margin-left: calc(var(--btn-shift) * -1);
  margin-top: calc(var(--btn-shift) * -1);
  transform: 
    translateY(var(--btn-y-translate))
    rotateZ(var(--btn-rotation));
  transform-origin: var(--origin-shift);
  transition-duration: 200ms;
  width: var(--btn-size);
}

a {
  --btn-counter-rotation: calc(var(--btn-rotation) * -1);
  --btn-zoom: 0;
  --btn-zoom-delay: 0;
  
  display: block;
  background-size: contain;
  background-image: var(--btn-img-src);
  border-radius: 50%;
  transform:
    scale(var(--btn-zoom))
    rotateZ(var(--btn-counter-rotation));
  transition-delay: var(--btn-zoom-delay);
  transition-duration: 200ms;
  height: var(--btn-size);
  width: var(--btn-size);
}

.fb {
  --btn-img-src: url("/assets/icons/fb.png");
}

.twitter {
  --btn-img-src: url("/assets/icons/twitter.png");
}

.linkedin {
  --btn-img-src: url("/assets/icons/linkedin.png");
}

.web {
  --btn-img-src: url("/assets/icons/web.png");
}

.social-button:nth-of-type(2) {
  --btn-zoom-delay: 50ms;
  --btn-rotation: -45deg;
}

.social-button:nth-of-type(3) {
  --btn-zoom-delay: 100ms;
  --btn-rotation: -75deg;
}

.image:hover {
  transform: translateZ(20pt);
}

.image:hover>.data-photo {
  box-shadow: 0 9pt 15pt rgba(0, 0, 0, 0.5);
}

.image:hover>.social-button a {
  --btn-zoom: 1;
}

.title {
  font-size: var(--title-font-size);
}

/* EDGE cannot process variables for rotate */
@supports (-ms-ime-align:auto) {
  .social-button {
    transform-origin: 50% -80pt;
  }
  .social-button:nth-of-type(1) a {
    transform: scale(var(--btn-zoom)) rotateZ(15deg);
  }
  .social-button:nth-of-type(2) a {
    transform: scale(var(--btn-zoom)) rotateZ(45deg);
  }
  .social-button:nth-of-type(3) a {
    transform: scale(var(--btn-zoom)) rotateZ(75deg);
  }

  @media screen and (orientation: portrait) {
    .social-button {
      transform-origin: 50% -40pt;
    }
  }
}