:host {
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-nav {
  --a-height: 24pt;
  height: var(--a-height);
  margin-bottom: 20pt;
  color: white;
}

a {
  color: white;
  text-transform: uppercase;
  line-height: var(--a-height);
  height: var(--a-height);
  display: inline-block;
  padding: 0 8pt;
  text-shadow: none;
  text-decoration: none;
  border-radius: 3pt;
  outline: none;
}

a.active {
  background-color: white;
  color: var(--clr-main);
}

.logo-small {
  height: calc(var(--a-height) / 2);
}

input {
  display: none;
}

.trigger {
  display: none;
}
@media screen and (orientation: portrait) {
  :host() {
    margin-right: 50pt;
  }
  .trigger,
  .trigger-x {
    position: absolute;
    top: 5pt;
    left: 5pt;
    display: block;
    height: 40pt;
    width: 40pt;
    color: var(--clr-main);
    margin-right: 10pt;
    background-color: var(--clr-main-shadow);
  }
  .ham::before {
    content: "";
    display: block;
    position: absolute;
    top: 10pt;
    right: 10pt;
    bottom: 10pt;
    left: 10pt;
    background-image: linear-gradient(
      white 0%,
      white 16%,
      transparent 16%,
      transparent 42%,
      white 42%,
      white 58%,
      transparent 58%,
      transparent 84%,
      white 84%,
      white 100%
    );
  }
  .trigger {
    transition-duration: 200ms;
  }
  .trigger-x {
    background-color: white;
  }
  .trigger-x::before {
    background-image: linear-gradient(
      var(--clr-main-shadow) 0%,
      var(--clr-main-shadow) 16%,
      transparent 16%,
      transparent 42%,
      var(--clr-main-shadow) 42%,
      var(--clr-main-shadow) 58%,
      transparent 58%,
      transparent 84%,
      var(--clr-main-shadow) 84%,
      var(--clr-main-shadow) 100%
    );
  }
  nav {
    display: flex;
    transform: translateX(-100%);
    transition-duration: 200ms;
    flex-direction: column;
    font-size: 18pt;
    padding: 10pt;
    position: absolute;
    top: 50pt;
    left: 0;
    right: 20%;
    height: calc(100vh - 50pt);
    box-shadow: 3pt 3pt 15pt rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
      to bottom right,
      var(--clr-main),
      var(--clr-main-shadow)
      );
  }
  .host {
    outline: none;
  }
  .host:focus label {
    border: 4pt lime solid;
  }
  .host:focus > nav,
  .host:focus-within > nav {
    transform: translateX(0);
  }
  .host:focus > .trigger,
  .host:focus-within > .trigger {
    pointer-events: none;
    opacity: 0;
  }
  a {
    line-height: 40pt;
  }

  @supports (-ms-ime-align:auto) {
    input:checked ~ div .ham {
      background-color: white;
    } 
    input:checked ~ div .ham::before {
      background-image: linear-gradient(
        var(--clr-main-shadow) 0%,
        var(--clr-main-shadow) 16%,
        transparent 16%,
        transparent 42%,
        var(--clr-main-shadow) 42%,
        var(--clr-main-shadow) 58%,
        transparent 58%,
        transparent 84%,
        var(--clr-main-shadow) 84%,
        var(--clr-main-shadow) 100%
      );
    } 
    input:checked ~ div nav {
      transform: translate3d(0,0,100px);
    } 
  }
}