<label for="__nav_trigger" class="ham trigger-x"></label>
<input type="checkbox" id="__nav_trigger" hidden>
<div class="host" tabindex="1">
  <label tabindex="1" for="__nav_trigger" class="ham trigger"></label>
  <nav>
    <a tabindex="-1" routerLink="speakers" routerLinkActive="active">Доповідачі</a>
    <a tabindex="-1" routerLink="topics" routerLinkActive="active">Теми</a>
    <a tabindex="-1" routerLink="schedule" routerLinkActive="active">Розклад</a>
    <a tabindex="-1" routerLink="partners" routerLinkActive="active">Партнери</a>
  </nav>
</div>