<div class="conference-date">
	<h1 class="title">конференція<br>LvivCSS<br>2018</h1>
	<time datetime="2018-11-10">10–<span hidden="hidden"> листопада</span></time><time datetime="2018-11-11">11 листопада</time><br>
	<small>Lviv, !FESTREPUBLIC</small>
</div>
<div class="features">
	<p class="feature" *ngFor="let feature of features;">
		<b class="feature-count">{{feature.count}}</b>
		<span class="feature-description">{{feature.title}}</span>
	</p>
</div>
<h2>Спеціальний гість</h2>
<div class="speakers">
	<app-info-card *ngFor="let speaker of speakers | async" [data]="speaker"></app-info-card>
</div>
<p class="event-description">
	LvivCSS2018 — це не просто конференція про CSS. Це подія, на якій зустрічаються стихії. Цього року конференція LvivCSS
	присвячена тому, як, чому, за допомогою яких процесів можна створювати візуальні образи в вебі. Вона присвячена
	взаємодії дизайнерів та розробників, виникненню та розвитку нових засобів візуалізації, новим прийомам в UX,
	незвичайним застосуванням незвичайних технологій. У всіх цих явищ спільне лиш одне — їх результат можна побачити і
	відчути в браузері. Наша мета — створити подію, максимально корисну для всіх, хто зайнятий в усьому процесі створення
	веб-продуктів. Саме тому запрошуємо дизайнерів, front-end розробників, художників, 3d-програмістів та всіх причетних
	до магії візуалізації.
</p>
<h2>Місце проведення</h2>
<div class="location">
	<a href="https://www.google.com/maps/place/!FESTrepublic/@49.8517924,24.0495593,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x4d37bc8b5f85294f!8m2!3d49.8517885!4d24.0517491">
		!FESTREPUBLIC<br> Львів, вулиця Старознесенська, 24-26
	</a>
</div>
