@font-face {
  font-family: "Glacial Indifference";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/GlacialIndifference-Bold.otf");
}

@font-face {
  font-family: "Manrope";
  font-weight: normal;
  font-style: normal;
  src: url("./assets/fonts/manrope-regular.ttf");
}
@font-face {
  font-family: "Manrope";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/manrope-bold.ttf");
}
