@import "fonts.css";
/* Variables */
:root {
  --purple-gradient: linear-gradient(to right, #4A148C, #7B1FA2);
}
/* Resets */
* {
  margin: 0;
  padding: 0;
}
/* Typography */
h1 {
  margin-bottom: 16pt;
}
.title {
  font-family: "Glacial Indifference";
  color: #4A148C;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 72pt;
}

body {
  font-family: Manrope;
  font-size: 16pt;
  padding-left: 20%;
  padding-top: 10%;
}

p {
  line-height: 1.5;
}

@supports (-webkit-background-clip: text) {
  .title {
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  } 
} 

.info {
  line-height: 24pt;
}


.landing nav {
  margin-top: 96pt;
}
.nav-item {
  line-height: 24pt;
  margin-bottom: 8pt;
}
.landing nav a {
  margin-bottom: 16pt;
  color: #1A237E;  
}

.landing nav a:visited {
  color: #7B1FA2;
}

/* Components */

.btn {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  background-image: var(--purple-gradient);
  height: 32pt;
  text-align: center;
  color: white;
  padding: 8pt;
}

.link {
  color: #455A64;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  transition-duration: 200ms;
}

.link:hover, .link:visited:hover {
  color: #E1BEE7;
}

@media screen and (orientation: portrait) {
  body {
    padding: 0 10%;
    padding-top: 16pt;
  }

  .title {
    font-size: 48pt;
  }

  .landing nav {
    margin-top: 72pt;
  }

  .nav-item {
    margin-bottom: 24pt;
  }
}