:root {
	--navigation-width: 4rem;
}

.navigation {
  display: flex;
	flex-direction: column;
}

.navigation .links {
	height: var(--navigation-width);
	line-height: var(--navigation-width);
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	box-sizing: border-box;
	width: 100vh;
	position: fixed;
	transform-origin: 100% 0;
	transform: translateX(-100%) rotate(-90deg);
	text-transform: lowercase;
}


.navigation .link.active {
	font-weight: bold;
}

@media screen {
	@media (max-width: 480px) {
		:root {	--navigation-width: 2.5rem; }
	}
	@media (max-width: 360px) {
		:root {	--navigation-width: 2rem; }
	}
}