:root {
	--column-count: 1;
	--photo-width: 6rem;
	--photo-height: calc(var(--photo-width) * (4 / 3));
}

body {
	display: grid;
	grid-template-columns: var(--navigation-width) 1fr 1rem;
}

p {
	font-size: 0.75rem;
	line-height: 1.5;
}

.main {
	grid-column: 2;
	padding-top: 1rem;
}

h1 {
	grid-column: 2;
}

.sticky-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 2;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background-color: white;
	border-bottom: 1px solid grey;
}

.columns {
	grid-column: 2;
	column-count: var(--column-count);
	column-gap: 32pt;
	column-fill: auto;
}

.speaker-photo {
	margin-top: 5pt;
	width: var(--photo-width);
	height: var(--photo-height);
	float: left;
	border: 2px solid #ccc;
	box-sizing: border-box;
	margin-right: 1rem;
}

.speaker-info {
	break-inside: avoid;
	padding-bottom: 2rem;
	border-bottom: 1px solid grey;
	padding-top: 0.5rem;
}

footer {
	grid-column: 2;
	padding: 1rem 0;
	display: flex;
	justify-content: flex-end;
}

@media screen {
	@media (min-width: 768px) {
		:root { --column-count: 2; }
	}

	@media (min-width: 1366px) {
		:root { --column-count: 3; }
	}

	@media (max-width: 480px) {
		:root {
			--photo-width: 4rem;
		}
	}
}