/* You can add global styles to this file, and also import other style files */
/* VARIABLES */
:root {
  --clr-main: #4a0692;
  --clr-main-shadow: #340763;
  --clr-secondary: #2E294E;
  --clr-text: #333;
  --sz-padding: 15%;
  --gradient: linear-gradient(
    to right,
    var(--clr-main),
    var(--clr-main-shadow)
  );
}

html, body {
  max-height: 100%;
  height: 100%;
}

body {
  /* background-color: var(--clr-secondary); */
  background-color: #eee;
  color: var(--clr-text);
  font-family: Rubik;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h2 {
  align-items: center;
  display: flex;
  font-size: 32pt;
  justify-content: center;
  padding: 0 var(--sz-padding);
  margin-bottom: 32pt;
  text-align: center;
  text-transform: uppercase;
  /* white-space: nowrap; */
}

h2::before, h2::after {
  background-color: var(--clr-text);
  content: "";
  display: block;
  flex: 1;
  height: 1px;
}

h2::before {
  margin-right: 20pt;
}

h2::after {
  margin-left: 20pt;
}

.centered-item {
  align-self: center;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  :root {
    --sz-padding: 5%;
  }
  h2 {
    font-size: 24pt;
  }
}

/*  */
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  z-index: 999;
}
