<nav class="navigation">
	<div class="slider">
		{{#each navigation}}
		<a class="nav-link {{#eq ../path this.href}}active{{/eq}} {{#if this.isFlare}}flare{{/if}}"
			href="{{this.href}}">{{this.title}}</a>
		{{/each}}
		<button class="nav-header">
			<span class="burger"></span>навігація
		</button>
	</div>
</nav>
<div class="backdrop"></div>